*{
    box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


.container{
    border-style: solid;
    /* margin-left: 20px;
    margin-right: 20px; */
   
}



